<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--vuetify-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <!--css-->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/responsivo.css">
    <!--icone-->
    <link rel="shortcut icon" href="./assets/img/pawpng.png" type="image/x-icon">
    <title>Adote Aqui</title>
</head>
<body>
    <main id="app">
        <div id="box-header">
            <header>
                <div id="box-logo">
                    <img src="./assets/img/pawpng.png" alt="logo">
                    <h1>Adote Aqui!</h1>
                </div>
                <nav>
                    <a href="#box-pets" @click="callAdocao()">Adoção</a>
                    <a @click="callContato()">Contato</a>
                </nav>
            </header>
        </div>
        <div id="box-card-contato" data-app>
            <v-dialog  v-model="mostraContato">
                <v-card id="card">
                    <v-card-title id="card-title" class="text-h5 grey lighten-2">
                        Contatos
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                        <div>
                            <div id="info">
                                <h4 id="title">Email:</h4>
                                <p>adote.aqui@gmail.com</p>
                            </div>
                            <div id="info">
                                <h4>Telefone:</h4>
                                <p>(21)3999-0000</p>
                            </div>
                            <div id="info">
                                <h4>Endereço:</h4>
                                <p>R. Imaginária 38</p>
                            </div>
                        </div>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </div>
        <div id="box-home">
            <div class="text-container">
                <h2 class="subtitle">Por que adotar?</h2>
                <p class="text">
                        Ao adotar, você ajuda a reduzir o número de cães e gatos
                        abandonados. Os animais de rua já passaram por muito sofrimento
                        e tudo o que precisam é de um lar para serem felizes de verdade!
                </p>
            </div>
            <div class="img-container">
                <img src="./assets/img/criancacomcachorro.jpg" alt="banner" id="banner">
            </div>
        </div>
        <div v-show="mostraAdocao" id="box-pets">
            <div id="title-pets">
                <h3>Adote Aqui!</h3>
            </div>
            <div id="pets">
                <ul v-for="pets in listaPets" :key="pets.id" id="lista-pets">
                    <li>
                        <img :src="pets.src" :alt="pets.alt" id="img-pet">
                        <button id="send-btn" @click="callModal()">{{ pets.name }}</button>
                    </li>
                </ul>
            </div>
        </div>
        <div id="box-card" data-app>
            <v-dialog  v-model="mostraModal">
                <v-card id="card">
                    <v-card-title id="form-title" class="text-h5 grey lighten-2">
                        Formulário de Adoção
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                        <div>
                            <div id="box-input">
                                <div id="box-name">
                                    <label for="name">Nome:</label>
                                    <input type="text" id="name" placeholder="Digite o seu nome" v-model="name">
                                    <div id="error">
                                        <p class="erro" v-if="mensagemName">Por favor verifique se o campo nome está preenchido! </p>
                                    </div>
                                </div>
                                <div id="box-phone">
                                    <label for="phone">Telefone:</label>
                                    <input maxlength="14" type="text" id="phone" placeholder="(xx) xxxxx-xxxx" v-model="phone"
                                    @keypress="mascaraNumero">
                                    <div id="error">
                                        <p class="erro" v-if="mensagemPhone">Por favor verifique se o campo telefone está preenchido corretamente!</p>
                                    </div>
                                </div>
                                <div id="box-email">
                                    <label for="email">E-mail:</label>
                                    <input type="text" id="email" placeholder="Digite seu email" v-model="email">
                                    <div id="error">
                                        <p class="erro" v-if="mensagemEmail ">Por favor verifique se o campo email está preenchido corretamente!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </v-card-text>
                    <v-divider></v-divider>
                    <div id="box-btn">
                        <p class="feedback" v-if="feedback">Formulário enviado com sucesso!</p>
                        <button id="submit" @click="testeForm()">Enviar</button>
                    </div>
                    <div id="box-message">
                        
                    </div>
                </v-card>
            </v-dialog>
        </div>
        <footer>
            Orgulhosamente feito por <a href="https://portfolio-jovimoura.vercel.app/" class="github" target="_blank">João Victor Moura</a>
            <img id="icon" src="./assets/img/pawpng.png" alt="icone">
        </footer>
    </main>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script type="module" src="./index.js"></script>
</html>
